.search {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: blue;
  padding: 10px 0;
  width: 100%;
}

.search-form {
  position: relative;
  display: flex;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.inputs-style {
  padding: 10px 60px 10px 10px;
  width: 100%;
  border: none;
  outline: none;
}
